body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1400px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: left;
  width: 100px;
  height: 50px;
}

#sequence {
  width: 650px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: absolute;
  z-index: 0;
}

#chart path {
  stroke: #fff;
  z-index: 0;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#display {
  float: flex;
}

#attribute {
  float: flex;
  height: 100px;
}

#sideChart {
  position: absolute;
  float: left;
  width: 800px;
  height: 400px;
  z-index: 0;
}
#map {
  position: absolute;
  top:240px;
  width: 550;
  height: 175px;
  border: none;
  margin-left: 267px;
}

select {
  font-size: 24px;
  padding: 5px;
  text-align-last: center;
}
/*Jim's Setup*/
/* On mouse hover, lighten state color */
/*path:hover {
  fill-opacity: .8;
}*/

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: auto;          
    height: auto;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #D3D3D3; 
    border: 0px;    
    border-radius: 12px;     
    pointer-events: none;     
}